html {
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.selected {
    color: rgb(255, 255, 255, 0.15) !important;
}

.selected:hover {
    transform: none !important;
}

#navbar {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0%;
    left: 0%;
    border-bottom: 0px solid white;
    border-width: 1px;
    width: 100%;
    height: 50px;
    transition: opacity 1s ease;
    gap: 50px;
    justify-content: center;
    justify-items: center;
    background-color: black;
    z-index: 1;
}

#navbar>button {
    background-color: rgb(0, 0, 0, 0);
    transition: transform 0.3s ease, color 0.3s ease;
    font-family: monospace;
    font-weight: bold;
    font-size: large;
}

#navbar>button:hover {
    transform: scale(1.5, 1.5);
}

#navbar>button:active {
    color: lightskyblue;
}

.tab {
    display: none;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: left 1s ease-in-out, opacity 1s ease-in-out;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

#Shop {
    display: none;
    gap: 50px;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column;
}

@media (max-width: 1080px) {
    #Shop {
        grid-auto-flow: row;
    }
}

.product {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

.product-header {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.product-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
}

.product-title {
    font-weight: bold;
    margin: 0;
}

.product-price {
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
}

.product-description {
    padding: 15px;
    font-size: 14px;
    color: #555;
    text-align: justify;
}

#Home {
    opacity: 1;
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#intro {
    opacity: 1 !important;
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#intro button {
    border: 0px solid white;
    border-width: 10px;
    position: relative;
    padding: 0px;
    opacity: 0;
    transition: border-width 1s ease, padding 1s ease, opacity 1s ease, transform 1.5s ease;
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: medium;
}

#logo {
    display: none;
    color: white;
    opacity: inherit;
    transition: opacity 1s ease-in-out;
    text-align: center;
    line-height: 10px
}

#logo p {
    transition: opacity 0.5s ease-in-out;
}

#description {
    opacity: 0;
    color: white;
    transition: opacity 1s ease;
    text-align: center;
    line-height: 5px;
    display: none;
}

#contacts {
    left: 50%;
    position: fixed;
    bottom: 0px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 1.5s ease, bottom 1.5s ease;
    display: flex;
    gap: 50px;
    border: 1px solid #ccc;
    background-color: black;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    z-index: 1;
    padding: 15px 40px 30px;
}

#contacts>a {
    color: white;
    font-weight: 500;
    font-size: large;
    text-decoration: none;
    transition: transform 0.3s ease;
}

#contacts>a:hover {
    transform: scale(1.5, 1.5);
}

button {
    background-color: black;
    color: white;
    border-style: none;
}